<form (ngSubmit)="onCalculate()" >
  <div class="input-group">
    <label for="initial-investment">Initial investment</label>
    <input type="number" id="initial-investment" name="initial-investment" [(ngModel)]="initialInvestmentInput" />
  </div>
  <div class="input-group">
    <label for="annual-investment">Annual Investment</label>
    <input type="number" id="annual-investment" name="annual-investment" [(ngModel)]="annualInvestmentInput" />
  </div>
  <div class="input-group">
    <label for="expected-return">Expected return</label>
    <input type="number" id="expected-return" name="expected-return" [(ngModel)]="expectedReturnInput" />
  </div>
  <div class="input-group">
    <label for="duration">Duration</label>
    <input type="number" id="duration" name="duration" [(ngModel)]="durationInput" />
  </div>
  <button type="submit">Calculate</button>

</form>
